.home{
    flex: 4;
    
}
.homeWidgets{
    display: flex;
    margin: 20px;
}
.chartContainer{
    /* display: flex;
    flex-direction: row; */
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

